<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aptech.mapper.TTestorResultMapper">
    <resultMap id="BaseResultMap" type="cn.aptech.pojo.TTestorResult">
        <id column="TRD_ID" property="trdId" jdbcType="INTEGER"/>
        <result column="SUITE_CODE" property="suiteCode" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="SCORE" property="score" jdbcType="DECIMAL"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="RESULT_CODE" property="resultCode" jdbcType="VARCHAR"/>
        <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="cn.aptech.pojo.TTestorResult" extends="BaseResultMap">
        <result column="USER_AGENT" property="userAgent" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    TRD_ID, SUITE_CODE, USER_ID, SCORE, CREATE_TIME, RESULT_CODE, IP_ADDRESS
  </sql>
    <sql id="Blob_Column_List">
    USER_AGENT
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="cn.aptech.pojo.TTestorResultExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_testor_result
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.aptech.pojo.TTestorResultExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_testor_result
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_testor_result
        where TRD_ID = #{trdId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_testor_result
    where TRD_ID = #{trdId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="cn.aptech.pojo.TTestorResultExample">
        delete from t_testor_result
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="cn.aptech.pojo.TTestorResult">
    insert into t_testor_result (TRD_ID, SUITE_CODE, USER_ID, 
      SCORE, CREATE_TIME, RESULT_CODE, 
      IP_ADDRESS, USER_AGENT)
    values (#{trdId,jdbcType=INTEGER}, #{suiteCode,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{score,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{resultCode,jdbcType=VARCHAR}, 
      #{ipAddress,jdbcType=VARCHAR}, #{userAgent,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.aptech.pojo.TTestorResult">
        insert into t_testor_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="trdId != null">
                TRD_ID,
            </if>
            <if test="suiteCode != null">
                SUITE_CODE,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="score != null">
                SCORE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="resultCode != null">
                RESULT_CODE,
            </if>
            <if test="ipAddress != null">
                IP_ADDRESS,
            </if>
            <if test="userAgent != null">
                USER_AGENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="trdId != null">
                #{trdId,jdbcType=INTEGER},
            </if>
            <if test="suiteCode != null">
                #{suiteCode,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="resultCode != null">
                #{resultCode,jdbcType=VARCHAR},
            </if>
            <if test="ipAddress != null">
                #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="userAgent != null">
                #{userAgent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="cn.aptech.pojo.TTestorResultExample" resultType="java.lang.Integer">
        select count(*) from t_testor_result
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_testor_result
        <set>
            <if test="record.trdId != null">
                TRD_ID = #{record.trdId,jdbcType=INTEGER},
            </if>
            <if test="record.suiteCode != null">
                SUITE_CODE = #{record.suiteCode,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null">
                USER_ID = #{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.score != null">
                SCORE = #{record.score,jdbcType=DECIMAL},
            </if>
            <if test="record.createTime != null">
                CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.resultCode != null">
                RESULT_CODE = #{record.resultCode,jdbcType=VARCHAR},
            </if>
            <if test="record.ipAddress != null">
                IP_ADDRESS = #{record.ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.userAgent != null">
                USER_AGENT = #{record.userAgent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update t_testor_result
        set TRD_ID = #{record.trdId,jdbcType=INTEGER},
        SUITE_CODE = #{record.suiteCode,jdbcType=VARCHAR},
        USER_ID = #{record.userId,jdbcType=VARCHAR},
        SCORE = #{record.score,jdbcType=DECIMAL},
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
        RESULT_CODE = #{record.resultCode,jdbcType=VARCHAR},
        IP_ADDRESS = #{record.ipAddress,jdbcType=VARCHAR},
        USER_AGENT = #{record.userAgent,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_testor_result
        set TRD_ID = #{record.trdId,jdbcType=INTEGER},
        SUITE_CODE = #{record.suiteCode,jdbcType=VARCHAR},
        USER_ID = #{record.userId,jdbcType=VARCHAR},
        SCORE = #{record.score,jdbcType=DECIMAL},
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
        RESULT_CODE = #{record.resultCode,jdbcType=VARCHAR},
        IP_ADDRESS = #{record.ipAddress,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="cn.aptech.pojo.TTestorResult">
        update t_testor_result
        <set>
            <if test="suiteCode != null">
                SUITE_CODE = #{suiteCode,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                SCORE = #{score,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="resultCode != null">
                RESULT_CODE = #{resultCode,jdbcType=VARCHAR},
            </if>
            <if test="ipAddress != null">
                IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="userAgent != null">
                USER_AGENT = #{userAgent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where TRD_ID = #{trdId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.aptech.pojo.TTestorResult">
    update t_testor_result
    set SUITE_CODE = #{suiteCode,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      SCORE = #{score,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      RESULT_CODE = #{resultCode,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      USER_AGENT = #{userAgent,jdbcType=LONGVARCHAR}
    where TRD_ID = #{trdId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="cn.aptech.pojo.TTestorResult">
    update t_testor_result
    set SUITE_CODE = #{suiteCode,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      SCORE = #{score,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      RESULT_CODE = #{resultCode,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR}
    where TRD_ID = #{trdId,jdbcType=INTEGER}
  </update>
    <select id="getTTestorResults" parameterType="java.lang.String" resultType="java.util.HashMap">
    select tr.TITLE as name,count(*) as value from t_result as tr,t_testor_result as ttr where tr.RESULT_CODE=ttr.RESULT_CODE and tr.SUITE_CODE='99897394' group by tr.TITLE;
  </select>
</mapper>